<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginAdminServlet</servlet-name>
  	<display-name>LoginAdminServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.LoginAdminServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCricketScheduleServlet</servlet-name>
  	<display-name>AddCricketScheduleServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.AddCricketScheduleServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddTeamServlet</servlet-name>
  	<display-name>AddTeamServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.AddTeamServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddTeamMemberServlet</servlet-name>
  	<display-name>AddTeamMemberServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.AddTeamMemberServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddNewsServlet</servlet-name>
  	<display-name>AddNewsServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.AddNewsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddFourServlet</servlet-name>
  	<display-name>AddFourServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.AddFourServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSecondTeamScoreServlet</servlet-name>
  	<display-name>AddSecondTeamScoreServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.AddSecondTeamScoreServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddFirstTeamScoreServlet</servlet-name>
  	<display-name>AddFirstTeamScoreServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.AddFirstTeamScoreServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddFirstTeamBowlerServlet</servlet-name>
  	<display-name>AddFirstTeamBowlerServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.AddFirstTeamBowlerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSecondTeamBowlerServlet</servlet-name>
  	<display-name>AddSecondTeamBowlerServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.AddSecondTeamBowlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginAdminServlet</servlet-name>
  	<url-pattern>/LoginAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCricketScheduleServlet</servlet-name>
  	<url-pattern>/AddCricketScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddTeamServlet</servlet-name>
  	<url-pattern>/AddTeamServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddTeamMemberServlet</servlet-name>
  	<url-pattern>/AddTeamMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddNewsServlet</servlet-name>
  	<url-pattern>/AddNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddFourServlet</servlet-name>
  	<url-pattern>/AddFourServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSecondTeamScoreServlet</servlet-name>
  	<url-pattern>/AddSecondTeamScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddFirstTeamScoreServlet</servlet-name>
  	<url-pattern>/AddFirstTeamScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddFirstTeamBowlerServlet</servlet-name>
  	<url-pattern>/AddFirstTeamBowlerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSecondTeamBowlerServlet</servlet-name>
  	<url-pattern>/AddSecondTeamBowlerServlet</url-pattern>
  </servlet-mapping>
</web-app>
